_uploads/making-conversation/audio/making-conversation-ep1-studiofaculty.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep2-trimprojects.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep3-karstonsmith.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep4-albertlaw.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep5-petercocking.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep6-janekoo.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep7-jacekim.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep8-tomchung.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep9-postprojects.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep10-cloustudio.mp3 filter=lfs diff=lfs merge=lfs -text
_uploads/making-conversation/audio/making-conversation-ep11-rossmilne.mp3 filter=lfs diff=lfs merge=lfs -text
