---
layout: default
title: Work
description: I simplify complexity, exceed expectations, and deliver unexpected delight for enterprise SaaS, consumer mobile, retail, and large institutional products.
thumbnail: /assets/jostle/calls-thumb.jpg
---

<div class="mw-1024  u-pad-b01  u-mar-auto  u-mar-b05">
    <h1 class="u-noMargin  u-mar-b01"><strong>Work</strong></h1>
    <p class="as-h3  u-noMargin">For {{ site.time | date: '%Y' | minus:2011 }}+ years, I’ve used design to simplify complexity, exceed expectations, and deliver unexpected delight for enterprise SaaS, consumer mobile, retail, and large institutional products.</p>
</div>

<div class="mw-1024  u-mar-auto">
    <div class="Grid  Grid--withGutters">
        {% for post in site.posts %}
            {% if post.categories contains "Jostle" or post.categories contains "Steamclock" or post.categories contains "ECUAD" or post.categories contains "Personal-projects" %}
                <div class="Grid-cell  u-size1of2">
                    <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
                        {% if post.thumbnail %}
                            <img src="{{ post.thumbnail }}"/>
                        {% else post.video %}
                            <div class="media">
                                <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                            </div>
                        {% endif %}
                        <h3 class="c-grey04  as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
                        <!-- <p class="c-grey03  u-noMargin  u-mar-b01"><em>{{ post.details }}</em></p> -->
                        <p class="c-grey04  u-noMargin  u-mar-b02">{{ post.description }}</p>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>