---
layout: default
title: Home
description: I am a user experience and user interface designer living in Vancouver. I live in the world of product strategy, information architecture, and visual design. I care about how things work as much how good things feel. I work at Steamclock Software.
---

<div id="home">
  <div class="animated fadeIn container">
    <ul class="animated fadeIn posts">
      {% for post in paginator.posts %}
        <li>
        	<span>{{ post.date | date_to_string }}</span>
        	<a href="{{ post.url }}"><h2 class="list-post">{{ post.title }}</h2></a>

        	{{ post.content }}

        </li>
      {% endfor %}
    </ul>


    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a class="previous" href="/" title="Previous Page">&laquo; Newer</a>
        {% else %}
        <a class="previous" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer</a>
        {% endif %}
      {% endif %}

      <span class="page_number">–&nbsp;&nbsp;{{ paginator.page }} of {{ paginator.total_pages }}&nbsp;&nbsp;–</span>

      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">Older &raquo;</a>
      {% else %}
        <span class="next">Older</span>
      {% endif %}
    </div><!-- End of the Paginator -->

  </div><!-- End of the Narrow Container -->
</div>