            <footer>
                <nav>
                  <li><a href="/" title="My portfolio."/>Portfolio</a></li>
                  <li><a href="/experience" title="About my experience in design."/>Experience</a></li>
                  <li><a href="https://medium.com/@justinalm" title="My writing on Medium."/>Medium</a></li>
                </nav>
                <p>&copy; Justin Alm. 2013.</p>
            </footer>

            <!-- jQuery -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            
            <!-- FitVids.js -->
            <script src="/js/jquery.fitvids.js"></script>
            <script>
              $(document).ready(function(){
                $(".container").fitVids();
              });
            </script>
            <script>
                    jQuery(document).ready( function( ) {
                        // Load Twitter widget script
                        jQuery.getScript('http://widgets.twimg.com/j/2/widget.js');
                    });
            </script>

            <!-- Google Analytics -->
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-1522375-3']);
              _gaq.push(['_setDomainName', 'justinalm.com']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>

    </body>
</html>