<nav class="dt w-100 border-box ph4 pv3 bb b--black-10">
  <a class="dtc v-mid mid-gray link w-25 home" href="/" title="{{ site.title }}">
    <img src="/uploads/profile-pic-cropped@2x.png" class="dib w2 h2 w3-ns h3-ns br-100 ba b--black-10" alt="{{ site.name }}">
  </a>
  <div class="dtc v-mid w-75 tr">
		<a class="link dark-gray f5 f4-ns dib ml2 ml4-ns pv2" href="/work/" title="Work">Work</a>
		<a class="link dark-gray f5 f4-ns dib ml2 ml4-ns pv2" href="/about/" title="About">About</a>
  </div>
</nav>