<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }} — Product Designer</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }} — Product Designer">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %} | {{ site.title }} — Product Designer">
  <meta property="og:image" content="{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="https://www.justinalm.com">
  <meta name="twitter:site" content="@justinalm">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} — Product Designer">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:image" content="{{ site.url }}{% if page.thumbnail %}{{ page.thumbnail }}{% else %}{% endif %}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">  
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="Xx1wo5pIJkf90eEkH7oZrFfh40bZanJk-QvSQks2eVQ" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i" rel="stylesheet">

  <!-- My CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>