<nav>
    <a class="logo" href="/" title="{{ site.title }}">
        <img class="logo u-bor-style-solid u-bor-width-nrml u-bor-light" src="/assets/profile-pic.jpg" alt="">
    </a>
    <a class="menu"><strong>Menu</strong></a>
    <nav class="header-nav">
        <a href="/" title="Work"><strong>Work</strong></a><a href="/about/" title="About"><strong>About</strong></a><a href="/about/ethics/" title="Ethics"><strong>Ethics</strong></a><a href="/contact/" title="Contact"><strong>Contact</strong></a>
    </nav>
</nav>
<nav class="mobile-nav hide">
    <a href="/" title="Work"><strong>Work</strong></a><a href="/about/" title="About"><strong>About</strong></a><a href="/about/ethics/" title="Ethics"><strong>Ethics</strong></a><a class="" href="/contact/" title="Contact"><strong>Contact</strong></a>
</nav>

<div class="overlay hide">&nbsp;</div>