<h2 class="pl4">Sample projects</h2>
    
<div class="cf ph3">
  {% for work in site.work %}
    <div class="fl w-100 w-50-m w-25-l pa3">
      <a href="{{ work.url }}" title="{{ work.title }}" class="db b--none">
        <div class="h5" style="background: url({{ work.thumbnail }}) no-repeat center center; background-size: cover;"></div>
      </a>
      <div class="tl">
        <h1 class="f6 mb0"><a href="{{ work.url }}" title="{{ work.title }}">{{ work.title }}</a></h1>
        <p class="mt1 truncate silver"><em><small>{{ work.categories }}</small></em></p>
        <a class="Btn pv1 ph2 br2 mb2" href="{{ work.url }}" title="{{ work.title }}">View project</a>
      </div>
    </div>
  {% endfor %}
</div>