<div class="mw-600">
    <h2 id="jostle-projects" class="u-pad-t05  u-mar-b01"><strong>Jostle projects</strong></h2>
    <p class="u-mar-t00">Jostle’s SaaS intranet helps people connect and communicate in the workplace. For 4+ years, I led design on product teams that shipped UI features across web, mobile, and TV interfacess.</p>
</div>
<div class="Grid  Grid--withGutters">
    {% for post in site.categories.Jostle %}
    <div class="Grid-cell  u-size1of2">
        <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}"/>
            {% else post.video %}
                <div class="media">
                    <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                </div>
            {% endif %}
            <h3 class="as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
            <p class="c-grey03  u-noMargin"><em>{{ post.details }}</em></p>
        </a>
    </div>
    {% endfor %}
</div>


<div class="mw-600">
    <h2 id="steamclock-software-projects" class="u-pad-t05  u-mar-b01"><strong>Steamclock Software projects</strong></h2>
    <p class="u-mar-t00">At Steamclock, half of my time was spent designing our products WeddingDJ and PartyMonster. The other half was spent designing various iOS, Android, and web products for clients.</p>
</div>
<div class="Grid  Grid--withGutters">
    {% for post in site.categories.Steamclock %}
    <div class="Grid-cell  u-size1of2">
        <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}"/>
            {% else post.video %}
                <div class="media">
                    <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                </div>
            {% endif %}
            <h3 class="as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
            <p class="u-noMargin  c-grey03"><em>{{ post.details }}</em></p>
        </a>
    </div>
    {% endfor %}
</div>

<div class="mw-600">
  <h2 id="emily-carr-university-projects" class="u-pad-t05  u-mar-b01"><strong>Emily Carr University projects</strong></h2>
  <p class="u-mar-t00">During my Interaction Design Degree at Emily Carr University I worked on these significant projects. I worked for the SIM and S3D Research Centres during my 3rd and 4th years.</p>
</div>
<div class="Grid  Grid--withGutters">
    {% for post in site.categories.ECUAD %}
    <div class="Grid-cell  u-size1of2">
        <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}"/>
            {% else post.video %}
                <div class="media">
                    <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                </div>
            {% endif %}
            <h3 class="as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
            <p class="u-noMargin  c-grey03"><em>{{ post.details }}</em></p>
        </a>
    </div>
    {% endfor %}
</div>

<h2 id="freelance-projects" class="u-pad-t05  u-mar-b03"><strong>Freelance projects</strong></h2>
<div class="Grid  Grid--withGutters">
    {% for post in site.categories.Freelance %}
    <div class="Grid-cell  u-size1of2">
        <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}"/>
            {% else post.video %}
                <div class="media">
                    <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                </div>
            {% endif %}
            <h3 class="as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
            <p class="u-noMargin  c-grey03"><em>{{ post.details }}</em></p>
        </a>
    </div>
    {% endfor %}
</div>

<h2 id="personal-projects" class="u-pad-t05  u-mar-b03"><strong>Personal projects</strong></h2>
<div class="Grid  Grid--withGutters">
    {% for post in site.categories.Personal-projects %}
    <div class="Grid-cell  u-size1of2">
        <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}"/>
            {% else post.video %}
                <div class="media">
                    <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                </div>
            {% endif %}
            <h3 class="as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
            <p class="u-noMargin  c-grey03"><em>{{ post.details }}</em></p>
        </a>
    </div>
    {% endfor %}
</div>