<div class="Grid  Grid--withGutters">
    {% for post in site.categories.Work %}
    <div class="Grid-cell  u-size1of3">
        <a class="u-text-noUnderline  u-cleanLink" href="{{ post.url }}" title="{{ post.title }}">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail }}"/>
            {% else post.video %}
                <div class="media">
                    <video autoplay loop muted playsinline type="video/mp4" src="{{ post.video }}" poster="{{ post.videoposter }}"></video>
                </div>
            {% endif %}
            <h3 class="as-h4  u-noMargin  u-mar-t02  u-mar-b01"><strong>{{ post.title }}</strong></h3>
            <p class="c-grey03  u-noMargin"><em>{{ post.details }}</em></p>
        </a>
    </div>
    {% endfor %}
</div>