hr,
.is-hr {
    border: 0;
    border-top: 1px solid $grey02;
}


/**
  * Border style
  */

.u-bor-style-solid { border-style: solid; } /* Dark borders */

/**
  * Border widths
  */

/* Normal border widths */
.u-bor-width-nrml { border-width: 1px; }
.u-bor-width-nrml-t { border-top: 1px solid $grey02; }
.u-bor-width-nrml-r { border-right: 1px solid $grey02; }
.u-bor-width-nrml-b { border-bottom: 1px solid $grey02; }
.u-bor-width-nrml-l { border-left: 1px solid $grey02; }

/* Fat border widths */
.u-bor-width-fat { border-width: 5px; }
.u-bor-width-fat-t { border-width-top: 5px; }
.u-bor-width-fat-r { border-width-right: 5px; }
.u-bor-width-fat-b { border-width-bottom: 5px; }
.u-bor-width-fat-l { border-width-left: 5px; }

/**
  * Border colours
  */

.u-bor { border-color: $grey04; } /* Dark borders */
.u-bor-light { border-color: $grey02; } /* Light borders */
.u-bor-fatlight { border-color: $grey01; } /* Fat light borders */


/* 
 * Border radius
 */
.u-rounded-corners {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* 
 * Border radius
 */
.u-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}