/**
 * Buttons
 * This class works with <buttons> or anchor tags
 */

.Btn {
    display: inline-block;
    color: $grey05;
    background-color: $white;
    font-family: $base-font-family;
    font-size: $font-size-ash5;
    font-weight: $font-weight-bold;
    line-height: $line-height02;
    text-decoration: none;
    white-space: normal;
    padding: $spacing-unit $spacing-unit*2;
    border: 1px solid $grey02;
    border-radius: $spacing-unit/2;
    -webkit-appearance: none;
    transition: all ease 0.2s;
}

.Btn[disabled],
.Btn.is-disabled {
    background-color: $grey03;
    color: $white;
}

.Btn[disabled]:hover,
.Btn.is-disabled:hover {
    background-color: $grey03;
    cursor: not-allowed;
    color: $white;
    box-shadow: none;
}

.Btn:hover {
    @include box-shadow;
}

.Btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px $blue01;
}

.Btn:active {
    outline: 0;
    box-shadow: none;
    background: $grey01;
    border: 1px solid $grey02;
    box-shadow: none;
}

.Btn[disabled]:focus,
.Btn.is-disabled:focus {
    outline: 0;
    box-shadow: none;
    color: $white;
}

.Btn--block {
    text-align: center;
    display: block;
}

.Btn--small {
    font-size: $font-size-ash6;
    padding: $spacing-unit/2  $spacing-unit;
}

button.Btn--block { /* cheats for button elements */
    width: 100%;
}

.Btn--confirm {
    color: $white;
    background-color: $blue01;
    font-weight: 700;
    border: 1px solid $blue01;
}

.Btn--confirm:hover {
    color: $white;
    background-color: $blue01;
    font-weight: 700;
}

.Btn--confirm:focus,
.Btn--confirm:active {
    color: $white;
    background-color: $blue01;
    box-shadow: 0 0 0 2px $blue02;
}

.Btn--destructive {
    color: $white;
    background-color: red;
    font-weight: 700;
    border: 1px solid red;
}

.Btn--destructive:hover {
    color: $white;
    background-color: red;
    font-weight: 700;
    border: 1px solid red;
}

.Btn--destructive:focus {
    box-shadow: 0 0 0 2px red;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}