/**
 * Text colour utilities
 */

.c-grey01 { color: $grey01; }
.c-grey02 { color: $grey02;    }
.c-grey03 { color: $grey03; }
.c-grey04 { color: $grey04; }
.c-grey05 { color: $grey05; }

.c-blue   { color: $blue01; }
.c-blue02   { color: $blue02; }

/**
 * Background colour utilities
 */

.bgc-grey01 { background-color: $grey01; }
.bgc-grey02 { background-color: $grey02;    }
.bgc-grey03 { background-color: $grey03; }
.bgc-grey04 { background-color: $grey04; }
.bgc-grey05 { background-color: $grey05; }

.bgc-blue   { background-color: $blue01; }
.bgc-blue   { background-color: $blue02; }