body {
    padding: 0;
    margin: $spacing-unit*2;
}

.index-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: $grey01;
  padding: $spacing-unit*5  $spacing-unit*2;
  margin: 0 (-$spacing-unit*2);
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.w-auto {
  width: auto;
}

.mw-500 {
    max-width: 500px;
}

.mw-600 {
    max-width: 600px;
}

.mw-700 {
    max-width: 700px;
}

.mw-800 {
    max-width: 800px;
}

.mw-900 {
    max-width: 900px;
}

.mw-1024 {
    max-width: 1024px;
}

.mh-500 {
    max-height: 500px;
}

/* Flexbox */

.project-metadata {
    display: block;
    align-items: stretch;
}

.project-metadata div {  
  flex: 15%;
  align-self: flex-start;
  margin: 0 $spacing-unit*4 0 0;
  text-align: left;
  width: 100%;
}

.project-metadata div.objective {
  -webkit-flex-basis: 500px; /* Safari 6.1+ */
  flex-basis: 500px;
}

.project-metadata div:last-child {
  margin-right: 0;
}

.hidden {
  display: none;
  height: 0;
  line-height: 0;
}