body {
    padding: $spacing-unit*2;
    margin: 0;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.w-auto {
  width: auto;
}

.mw-500 {
    max-width: 500px;
}

.mw-600 {
    max-width: 600px;
}

.mw-700 {
    max-width: 700px;
}

.mw-800 {
    max-width: 800px;
}

.mw-900 {
    max-width: 900px;
}

.mw-1024 {
    max-width: 1024px;
}