/**
 * Media sizing
 */

img { width: 100%; }

figure, .vendor {
    margin: 0 0 $spacing-unit*4 0;
}

figcaption {
    max-width: 600px;
    text-align: left;
    font-size: 0.833em;
    color: $grey03;
    margin: $spacing-unit auto 0 auto;
}