nav {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

nav a, nav p {
    color: $grey05;
    padding: $spacing-unit  $spacing-unit*2;
    -webkit-border-radius: $spacing-unit/2;
       -moz-border-radius: $spacing-unit/2;
            border-radius: $spacing-unit/2;
    cursor: pointer;
}

nav a:hover, nav a:active, nav a.selected {
    color: $blue01;
}

nav.header-nav {
    display: none;
    margin: 8px 0;
}

nav.header-nav a {
    display: inline-block;
    color: $grey05;
    text-decoration: none;
    padding: 8px 16px;
    margin-right: 4px;
    transition: all 0.2s ease;
    -webkit-border-radius: $spacing-unit/2;
       -moz-border-radius: $spacing-unit/2;
            border-radius: $spacing-unit/2;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav.header-nav a:last-child {
    margin-right: 0;
}


nav a:hover {
    color: $blue01;
    background-color: $grey01;
}

nav a.logo {
    float: left;
    padding: 0;
    margin: 8px 0;
    border: 0 !important;
    border-radius: none;
}

nav a.logo:hover {
    background-color: transparent;
}

nav .logo {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
}

nav a.logo img {
    vertical-align: middle;
}

nav a.menu {
    float: right;
    margin: 8px 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav a.menu:active, nav a.menu:hover {
    color: $grey05;
    background-color: $grey01;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

nav.mobile-nav {
    position: fixed;
    z-index: 10;
    right: 16px;
    width: auto;
    min-width: 152px;
    margin-top: -$spacing-unit;
    text-align: right;
    background-color: $white;
    @include box-shadow;
    @include border-radius;
    transition: all ease 0.2s;
}

nav.mobile-nav a {
    display: block;
    text-align: left;
    color: $grey05;
    text-decoration: none;
    padding: 8px 16px;
    margin: 4px;
    transition: all 0.2s ease;
    -webkit-border-radius: $spacing-unit/2;
       -moz-border-radius: $spacing-unit/2;
            border-radius: $spacing-unit/2;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

nav.mobile-nav a:last-child {
    margin-bottom: 4px;
}

nav.mobile-nav a:hover {
    color: $blue01;
}

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(228, 90%, 98%, 0.5);;
}

figure.active {
    border: 0px solid transparent;
}

footer nav.header-nav {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
}

footer nav p {
    display: block;
    text-align: center;
    padding: 8px 16px;
    margin: 8px 0;
}

nav.header-nav a.active,
nav.mobile-nav a.active {
    color: $blue01;
    background-color: $grey01;
}