.u-shadow {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.u-border-shadow {
    -webkit-box-shadow: 0 0 0 1px #ebebeb;
       -moz-box-shadow: 0 0 0 1px #ebebeb;
            box-shadow: 0 0 0 1px #ebebeb;
}