/* Colour */

$white: #ffffff;

$grey01: #ebebeb;
$grey02: #cccccc;
$grey03: #9ba3a5;
$grey04: #5f6668;
$grey05: #232323;

$blue01:   #5790E5;
$blue02:   #5790E5;


/* Typography */

$base-font-family: 'Roboto Mono', monospace;
$font-size-ash1: 32px;
$font-size-ash2: 24px;
$font-size-ash3: 18px;
$font-size-ash4: 16px;
$font-size-ash5: 14px;
$font-size-ash6: 12px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height00: 1;
$line-height01: 1.2225;
$line-height02: 1.4;
$line-height03: 1.5;
$line-height04: 1.625;


/* Spacing units */

$spacing-unit: 8px;