/* Colour */

$white: #ffffff;

$grey01: #ECEFF1;
$grey02: #B0BEC5;
$grey03: #607D8B;
$grey04: #455A64;
$grey05: #263238;

$blue01:   #0A2EB9;
$blue02: #5790E5;
$red01:  #E55757;
$red02:  #B90A0A;


/* Typography */

$base-font-family: 'Inter', sans-serif;
$font-size-ash1: 32px;
$font-size-ash2: 24px;
$font-size-ash3: 18px;
$font-size-ash4: 16px;
$font-size-ash5: 14px;
$font-size-ash6: 12px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height00: 1;
$line-height01: 1.2225;
$line-height02: 1.4;
$line-height03: 1.5;
$line-height04: 1.625;


/* Spacing units */

$spacing-unit: 8px;