ul.work-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.work-list li {
    box-sizing: border-box;
    margin: 0 0 $spacing-unit*4 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

ul.work-list li:hover > ul.work-list li h3 {
    text-decoration: underline;
}

ul.work-list li a {
    display: block;
    color: $grey05;
    text-decoration: none;
}

ul.work-list li h3,
ul.work-list li p {
    margin: 0;
}

ul.work-list li img,
ul.work-list li .media,
ul.work-list li p {
    margin-top: 0;
    margin-bottom: $spacing-unit*2;
}

ul.work-list li img,
ul.work-list li .media {
    display: block;
    width: 100%;
    height: auto;
}


/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    ul.work-list li {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: 30%;
        text-align: left;
        padding: 0;
        margin: 1.66%;
        @include border-radius;
        overflow: hidden;
    }
} 
 */