@media only screen and (min-width:770px) {

  header {
    padding: 0 20px 20px 20px;
  }

  ul.posts {
    width: 60%;
  }

  ul.work-posts > li {
    width: 32%;
    margin: 0 1% 0 0;
  }

  ul.work-posts > li:nth-child(2n) {
    width: 32%;
    margin: 0 1% 0 0;
    overflow: hidden;
  }

  ul.work-posts > li:nth-child(3n) {
    display: inline-block;
    text-align: center;
    width: 32%;
    margin: 0 0 0 0;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: top;
  }

  .post {
    width: 60%;
  }

  ul.list {
    padding: 0 0 0 35px;
  }

  ol.numbered-list {
    padding: 0 0 0 35px;
  }

  .profile-pic {
    float: right;
    margin-left: 20px;
  }

  .centered {
    text-align: center;
  }

  .page-navigation {
    width: 100%;
    margin: 0 auto 20px auto;
    text-align: left; 
  }

  #disqus_thread {
    margin: 10px 0 0 0;
  }

  h1 {
    margin: 0.5em auto;
  }

  h2.work-list-post {
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
  }

  p.categories {
    font-size: 0.8em;
    margin: 0 0 1.5em 0;
  }

  p:last-of-type {
    margin-bottom: 2.5em;
  }

  .work-content p:last-of-type {
    margin: 0 auto 1.75em auto;
  }

  footer {
    font-size: 0.85em;
  }


  footer p {
    text-align: center;
    margin: 1.3em auto 0 auto;
  }

}