---
layout: default
---

<div class="u-mar-t04 u-mar-auto">

    <div class="mw-1024  u-mar-auto  u-mar-t05  u-mar-b01  bp1-u-textAlign-center">
        <p class="as-h6  u-mar-b00  c-grey03">{% include breadcrumb.html %}</p>
    </div>

    {{ content }}

</div>

<!-- <div class="mw-700  u-mar-auto  u-mar-b05  u-textAlign-center  u-pad05  u-pad-t00  u-rounded-corners  c-grey04s  bgc-grey01">
    <h2 class="u-pad-t05"><a id="Thoughts_or_questions_104"></a>Feedback?</h2>
    <p>Don’t hesitate to <a href="mailto:almjustin@gmail.com">reach out</a> if you have thoughts or questions!</p>
</div> -->

<hr class="as-hr  u-mar-t05  u-mar-b05">

<h2 class="u-noMargin u-mar-b05  bp1-u-textAlign-center"><strong>More projects</strong></h2>

{% include workListSimple.html %}