<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
      
    {{ content }}
      
    <h2 class="pl4">Sample projects</h2>
    
    <div class="cf">
      {% for work in site.work %}
        <a href="{{ work.url }}" title="{{ work.title }}">
            <article class="fl w-100 w-50-m w-25-ns bg-white center ba b--light-gray">
            <img src="{{ work.thumbnail }}" class="w-100 db">
            <div class="pa3">
              <h1 class="f6"><a href="{{ work.url }}" title="{{ work.title }}">{{ work.title }}</a></h1>
              <p class="truncate"><small>{{ work.categories }}</small></p>
            </div>
          </article>
        </a>
      {% endfor %}
    </div>
    
    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
