---
layout: default
---
<div class="animated fadeIn container">

        <div class="post-content">

            <h1>{{ page.title }}</h1>
            
            {{ content }}

            <div class="page-navigation">
                    <div class="left"> 
                            {% if page.next.url %} 
                            <a href="{{page.next.url}}" title="Previous Post: 
                            {{page.next.title}}">&laquo; Newer</a> 
                            {% endif %}
                    </div> 

                    <div class="right"> 
                            {% if page.previous.url %} 
                            <a href="{{page.previous.url}}" title="next Post: 
                            {{page.previous.title}}">Older &raquo; </a> 
                            {% endif %} 
                    </div> 
            </div>

            <div class="clearfix">&nbsp;</div>

    </div><!-- The Post Container --> 
        
</div><!-- End of the Narrow Container -->