---
layout: default
---

<h1 class="postTitle">{{ page.title }}</h1>
<p class="postCategoriesUnderTitle"><i class="fa fa-pie-chart"></i></i>&nbsp;&nbsp;{{ page.cats }}</p>

{{ content }}

<hr class="under-project">

<h2 class="more-projects">More Projects</h2>

<ul class="animated fadeIn work-posts">
{% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">
    <img src="{{ post.thumbnail }}"/>
    <h2 class="work-list-post">{{ post.title }}</h2></a>
    <p class="categories">{{ post.cats }}</p>
  </li>
{% endfor %}
</ul>