---
layout: default
---

<div class="u-mar-t04 u-mar-auto">

    {{ content }}

</div>

<div class="mw-700  u-mar-auto  u-mar-b05  u-textAlign-center  u-pad05  u-pad-t00  u-rounded-corners  c-grey04s  bgc-grey01">
    <h2 class="u-pad-t05"><a id="Thoughts_or_questions_104"></a>Feedback?</h2>
    <p>Don’t hesitate to <a href="mailto:almjustin@gmail.com">reach out</a> if you have thoughts or questions!</p>
</div>

<h2 class="u-noMargin u-mar-b02"><strong>See more work:</strong></h2>

{% include workList.html %}