---
layout: default
---

<div class="animated fadeIn container">
        <h1 class="post-title">{{ page.title }}</h1>

        <div class="work-post">
            <p class="post-categories">{{ page.cats }}</p>
            {{ content }}
        </div>

        <hr class="rule"/>

        <h1 class="fadeIn">Projects I’ve Worked On</h1>
        <ul class="animated fadeIn work-posts">
        {% for post in site.categories.work %}
          <li>
            <a href="{{ post.url }}">
            <img src="{{ post.thumbnail }}"/>
            <h2 class="list-post">{{ post.title }}</h2></a>
            <p class="categories">{{ post.cats }}</p>
          </li>
        {% endfor %}
        </ul>
        
</div><!-- End of the Narrow Container -->